<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497367910853-ck8hihkidbljsg6rbbu07ccl8ha4rq49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497367910853-ck8hihkidbljsg6rbbu07ccl8ha4rq49</string>
	<key>API_KEY</key>
	<string>AIzaSyA2zb7pn8SxjXNsH1OrFK0ygmAGK5YOFx4</string>
	<key>GCM_SENDER_ID</key>
	<string>497367910853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kng.note.app.noteTakingApp</string>
	<key>PROJECT_ID</key>
	<string>note-taking-app-65ebb</string>
	<key>STORAGE_BUCKET</key>
	<string>note-taking-app-65ebb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497367910853:ios:8267d2d0f994799d9fe3ac</string>
</dict>
</plist>